.Todo {
  text-align: left;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding-left: 20px;
}
body
html,
#root{
  height: 100%;
}

.todo-form {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: left;
}
li {
  text-align: initial;
}
